# Q3

Using the previous result, calculate how likely each suspicious transaction is legitim.

Additional Explanation: To identify what is the probability that the previous classification is wrong, calculate for each entry the probability that the connection is legitimate, given the specific user-id, country, and IP that transaction is.

For example, considering that this transaction is classified as ‘suspicious’:

“68.180.228.229,noahb,noahb@hotmail.com,2017-01-01 03:07:34,GET /maccdc2012/signatures.log.gz HTTP/1.1,200,549,-,Mozilla/5.0 (compatible; Yahoo! Slurp; http://help.yahoo.com/help/us/ysearch/slurp (Links to an external site.)), US”

Using the full dataset to calculate the frequency, calculate this probability:

p(normal)=1- p(suspicious|user=u,IP=ip,country=c)

Following this, use the general equation to describe conditional probability:

p(A│B,C)= ( p(A,B,C)+α )/(p(B,C)+ β)

Considers: α=0.99850757 and β= 1.

**First we need to run the previous question in order to have begin question 3 so here it its, further down there is a Q3 that shows where it begins**

# Question 2

During our living sessions, you studied many different metrics to identify when you have an attack against a system. 

Develop a method that calculates the successful transaction rate for each 30 min interval (use response status code == 200 to identify a  successful transaction ). Following, develop another method that calculates the mean and standard deviation of this successful transaction rate. Using the following heuristic, set a new label for each one of transaction: **set the label suspicious if the transaction is one standard deviation above the mean.**

During the sessions, you saw many different metrics to identify when you have an attack against a system. Develop a method that calculates the success transaction rate (response status code == 200) for 30 min. Following, develop another method that calculates the mean and standard deviation of this successful transaction rate. **Evaluate the transactions using the following heuristic and set a new label  (suspicious) in the successful transactions with one standard deviation above the mean.**

In [1]:
>>> from datetime import timedelta
from datetime import datetime

In [2]:
import pandas as pd


def import_dataset(filename):
    ds = pd.read_csv(filename + '.csv',
                     parse_dates=[3], infer_datetime_format=True)
    ds['datetime'] = ds['datetime'].sort_index()
    return ds

import_dataset("access_log_format-1")

,src_ip,userid,username,datetime,method,response_code,return_obj_size,dest_address,user_agent,country
0,14.139.187.130,hahiss,hahiss@optonline.net,2017-01-01 02:16:51,GET / HTTP/1.1,200,10267,https://www.google.co.in/,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,FR
1,14.139.187.130,ahuillet,ahuillet@comcast.net,2017-01-01 02:16:55,GET /GitHub-Mark.png HTTP/1.1,200,7428,http://www.secrepo.com/,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,FR
2,14.139.187.130,gtaylor,gtaylor@gmail.com,2017-01-01 02:16:56,GET /twitter-icon.png HTTP/1.1,200,27788,http://www.secrepo.com/,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,BR
3,68.180.228.229,terjesa,terjesa@sbcglobal.net,2017-01-01 02:17:59,GET /robots.txt HTTP/1.1,200,233,-,Mozilla/5.0 (compatible; Yahoo! Slurp; http://...,FR
4,68.180.228.229,smallpaul,smallpaul@optonline.net,2017-01-01 02:17:59,GET /self.logs/access.log.2015-11-01.gz HTTP/1.1,200,6465,-,Mozilla/5.0 (compatible; Yahoo! Slurp; http://...,US
...,...,...,...,...,...,...,...,...,...,...
7224,85.159.196.242,lipeng,lipeng@att.net,2017-01-04 02:54:55,GET /honeypot/Honeypot%20-%20Howto.pdf HTTP/1.1,206,65874,http://www.secrepo.com/,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50....,BR
7225,85.159.196.242,peterhoeg,peterhoeg@hotmail.com,2017-01-04 02:54:53,GET /honeypot/Honeypot%20-%20Howto.pdf HTTP/1.1,200,1279418,http://www.secrepo.com/,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50....,US
7226,85.159.196.242,wikinerd,wikinerd@live.com,2017-01-04 02:54:56,GET /favicon.ico HTTP/1.1,200,267,-,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50....,BR
7227,85.159.196.242,sblack,sblack@yahoo.ca,2017-01-04 02:54:54,GET /honeypot/Honeypot%20-%20Howto.pdf HTTP/1.1,206,65867,http://www.secrepo.com/,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50....,MX
7228,163.172.65.131,munjal,munjal@aol.com,2017-01-04 02:59:20,GET /self.logs/error.log.2016-05-03.gz HTTP/1.1,200,782,-,Mozilla/5.0 (compatible; AhrefsBot/5.2; +http:...,MX

In [3]:
ds = import_dataset("access_log_format-1")
ds = ds.dropna()

**Now we get a new dataset that only has the succesful transactions, so the ones where the response status code is equal to 200**

In [4]:
dataset200 = ds[ds["response_code"]== 200]

dataset200.head()

,src_ip,userid,username,datetime,method,response_code,return_obj_size,dest_address,user_agent,country
0,14.139.187.130,hahiss,hahiss@optonline.net,2017-01-01 02:16:51,GET / HTTP/1.1,200,10267,https://www.google.co.in/,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,FR
1,14.139.187.130,ahuillet,ahuillet@comcast.net,2017-01-01 02:16:55,GET /GitHub-Mark.png HTTP/1.1,200,7428,http://www.secrepo.com/,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,FR
2,14.139.187.130,gtaylor,gtaylor@gmail.com,2017-01-01 02:16:56,GET /twitter-icon.png HTTP/1.1,200,27788,http://www.secrepo.com/,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,BR
3,68.180.228.229,terjesa,terjesa@sbcglobal.net,2017-01-01 02:17:59,GET /robots.txt HTTP/1.1,200,233,-,Mozilla/5.0 (compatible; Yahoo! Slurp; http://...,FR
4,68.180.228.229,smallpaul,smallpaul@optonline.net,2017-01-01 02:17:59,GET /self.logs/access.log.2015-11-01.gz HTTP/1.1,200,6465,-,Mozilla/5.0 (compatible; Yahoo! Slurp; http://...,US

**To this new dataset now we divide it in 30 minutes intervals and get how many entries we grouped to know how many succesful transactions where in each group, also we previously drop the rows where there we NaN values**

In [5]:
dataset200Resample = dataset200.resample('30min', on='datetime').size()
dataset200Resample.head()

datetime
2017-01-01 02:00:00     5
2017-01-01 02:30:00     0
2017-01-01 03:00:00     2
2017-01-01 03:30:00     0
2017-01-01 04:00:00    11
Freq: 30T, dtype: int64

**We do the same we did in the last step, but this time in the complete dataset in order to obtain how many transactions where in total in each group**

In [6]:
dsResample = ds.resample('30min', on='datetime').size()
dsResample.head()

datetime
2017-01-01 02:00:00     5
2017-01-01 02:30:00     0
2017-01-01 03:00:00     2
2017-01-01 03:30:00     0
2017-01-01 04:00:00    15
Freq: 30T, dtype: int64

**We apply a join to the two grouped dataset so the next steps are easier**

In [7]:
concatDataset = pd.concat([dataset200Resample, dsResample], axis = 1, join="inner")

In [8]:
concatDataset.head()

                      0   1
datetime
2017-01-01 02:00:00   5   5
2017-01-01 02:30:00   0   0
2017-01-01 03:00:00   2   2
2017-01-01 03:30:00   0   0
2017-01-01 04:00:00  11  15

The ratio is obtained with the formula **ratio = succesful transactions/total transactions** se we create a new column with the results of that formula

In [9]:
concatDataset['ratio'] = concatDataset[0] / concatDataset[1]

In [10]:
concatDataset.head()

                      0   1     ratio
datetime
2017-01-01 02:00:00   5   5  1.000000
2017-01-01 02:30:00   0   0       NaN
2017-01-01 03:00:00   2   2  1.000000
2017-01-01 03:30:00   0   0       NaN
2017-01-01 04:00:00  11  15  0.733333

**Now we replace the NaN values for 0 and calculate the mean and the standard deviation**

In [11]:
#concatDataset = concatDataset.fillna(0)
concatDataset = concatDataset.dropna()
concatDataset.head()

                      0   1     ratio
datetime
2017-01-01 02:00:00   5   5  1.000000
2017-01-01 03:00:00   2   2  1.000000
2017-01-01 04:00:00  11  15  0.733333
2017-01-01 04:30:00  10  11  0.909091
2017-01-01 05:00:00   7   7  1.000000

In [12]:
concatDataset['mean'] = concatDataset["ratio"].mean()
concatDataset.head()

                      0   1     ratio      mean
datetime
2017-01-01 02:00:00   5   5  1.000000  0.589226
2017-01-01 03:00:00   2   2  1.000000  0.589226
2017-01-01 04:00:00  11  15  0.733333  0.589226
2017-01-01 04:30:00  10  11  0.909091  0.589226
2017-01-01 05:00:00   7   7  1.000000  0.589226

In [13]:
concatDataset['std'] = concatDataset["ratio"].std()
concatDataset.head()

                      0   1     ratio      mean       std
datetime
2017-01-01 02:00:00   5   5  1.000000  0.589226  0.282244
2017-01-01 03:00:00   2   2  1.000000  0.589226  0.282244
2017-01-01 04:00:00  11  15  0.733333  0.589226  0.282244
2017-01-01 04:30:00  10  11  0.909091  0.589226  0.282244
2017-01-01 05:00:00   7   7  1.000000  0.589226  0.282244

**Now we get the z scores so we know how many standard deviations each group is from the mean**

In [14]:
concatDataset['z'] = (concatDataset["ratio"] - concatDataset["ratio"].mean())/concatDataset["ratio"].std()
concatDataset.head(30)

                       0    1     ratio      mean       std         z
datetime
2017-01-01 02:00:00    5    5  1.000000  0.589226  0.282244  1.455385
2017-01-01 03:00:00    2    2  1.000000  0.589226  0.282244  1.455385
2017-01-01 04:00:00   11   15  0.733333  0.589226  0.282244  0.510576
2017-01-01 04:30:00   10   11  0.909091  0.589226  0.282244  1.133291
2017-01-01 05:00:00    7    7  1.000000  0.589226  0.282244  1.455385
2017-01-01 05:30:00    5    8  0.625000  0.589226  0.282244  0.126747
2017-01-01 06:00:00    1    1  1.000000  0.589226  0.282244  1.455385
2017-01-01 06:30:00    8   12  0.666667  0.589226  0.282244  0.274374
2017-01-01 07:00:00    9   11  0.818182  0.589226  0.282244  0.811197
2017-01-01 07:30:00    7   11  0.636364  0.589226  0.282244  0.167009
2017-01-01 08:00:00    2    2  1.000000  0.589226  0.282244  1.455385
2017-01-01 08:30:00    3    3  1.000000  0.589226  0.282244  1.455385
2017-01-01 09:00:00    4    4  1.000000  0.589226  0.282244  1.455385
2017-01-01 09:30:00    5    5  1.000000  0.589226  0.282244  1.455385
2017-01-01 10:00:00    5    5  1.000000  0.589226  0.282244  1.455385
2017-01-01 10:30:00   59   61  0.967213  0.589226  0.282244  1.339220
2017-01-01 11:00:00  102  102  1.000000  0.589226  0.282244  1.455385
2017-01-01 11:30:00  100  101  0.990099  0.589226  0.282244  1.420306
2017-01-01 12:00:00   98   98  1.000000  0.589226  0.282244  1.455385
2017-01-01 12:30:00   88   90  0.977778  0.589226  0.282244  1.376651
2017-01-01 13:30:00    7    8  0.875000  0.589226  0.282244  1.012506
2017-01-01 14:00:00    8    8  1.000000  0.589226  0.282244  1.455385
2017-01-01 14:30:00    1    2  0.500000  0.589226  0.282244 -0.316132
2017-01-01 15:00:00    6    8  0.750000  0.589226  0.282244  0.569627
2017-01-01 15:30:00    7   15  0.466667  0.589226  0.282244 -0.434233
2017-01-01 16:00:00    3    5  0.600000  0.589226  0.282244  0.038171
2017-01-01 16:30:00    2    2  1.000000  0.589226  0.282244  1.455385
2017-01-01 17:00:00    9   24  0.375000  0.589226  0.282244 -0.759012
2017-01-01 17:30:00    8   12  0.666667  0.589226  0.282244  0.274374
2017-01-01 18:00:00    1    2  0.500000  0.589226  0.282244 -0.316132

In [15]:
print(concatDataset['z'].max())

1.4553854938419597

**Now we add the tag to those lines were the z is above 1**

In [16]:
import numpy as np

concatDataset['tag'] = np.where(concatDataset['z'] >= 1.0, 'sus', 'normal')
concatDataset.head(30)

                       0    1     ratio      mean       std         z     tag
datetime
2017-01-01 02:00:00    5    5  1.000000  0.589226  0.282244  1.455385     sus
2017-01-01 03:00:00    2    2  1.000000  0.589226  0.282244  1.455385     sus
2017-01-01 04:00:00   11   15  0.733333  0.589226  0.282244  0.510576  normal
2017-01-01 04:30:00   10   11  0.909091  0.589226  0.282244  1.133291     sus
2017-01-01 05:00:00    7    7  1.000000  0.589226  0.282244  1.455385     sus
2017-01-01 05:30:00    5    8  0.625000  0.589226  0.282244  0.126747  normal
2017-01-01 06:00:00    1    1  1.000000  0.589226  0.282244  1.455385     sus
2017-01-01 06:30:00    8   12  0.666667  0.589226  0.282244  0.274374  normal
2017-01-01 07:00:00    9   11  0.818182  0.589226  0.282244  0.811197  normal
2017-01-01 07:30:00    7   11  0.636364  0.589226  0.282244  0.167009  normal
2017-01-01 08:00:00    2    2  1.000000  0.589226  0.282244  1.455385     sus
2017-01-01 08:30:00    3    3  1.000000  0.589226  0.282244  1.455385     sus
2017-01-01 09:00:00    4    4  1.000000  0.589226  0.282244  1.455385     sus
2017-01-01 09:30:00    5    5  1.000000  0.589226  0.282244  1.455385     sus
2017-01-01 10:00:00    5    5  1.000000  0.589226  0.282244  1.455385     sus
2017-01-01 10:30:00   59   61  0.967213  0.589226  0.282244  1.339220     sus
2017-01-01 11:00:00  102  102  1.000000  0.589226  0.282244  1.455385     sus
2017-01-01 11:30:00  100  101  0.990099  0.589226  0.282244  1.420306     sus
2017-01-01 12:00:00   98   98  1.000000  0.589226  0.282244  1.455385     sus
2017-01-01 12:30:00   88   90  0.977778  0.589226  0.282244  1.376651     sus
2017-01-01 13:30:00    7    8  0.875000  0.589226  0.282244  1.012506     sus
2017-01-01 14:00:00    8    8  1.000000  0.589226  0.282244  1.455385     sus
2017-01-01 14:30:00    1    2  0.500000  0.589226  0.282244 -0.316132  normal
2017-01-01 15:00:00    6    8  0.750000  0.589226  0.282244  0.569627  normal
2017-01-01 15:30:00    7   15  0.466667  0.589226  0.282244 -0.434233  normal
2017-01-01 16:00:00    3    5  0.600000  0.589226  0.282244  0.038171  normal
2017-01-01 16:30:00    2    2  1.000000  0.589226  0.282244  1.455385     sus
2017-01-01 17:00:00    9   24  0.375000  0.589226  0.282244 -0.759012  normal
2017-01-01 17:30:00    8   12  0.666667  0.589226  0.282244  0.274374  normal
2017-01-01 18:00:00    1    2  0.500000  0.589226  0.282244 -0.316132  normal

# Q3 
**Using the previous result, calculate how likely each suspicious transaction is legitim.**

Additional Explanation: To identify what is the probability that the previous classification is wrong, calculate for each entry the probability that the connection is legitimate, given the specific user-id, country, and IP that transaction is.

For example, considering that this transaction is classified as ‘suspicious’:

“68.180.228.229,noahb,noahb@hotmail.com,2017-01-01 03:07:34,GET /maccdc2012/signatures.log.gz HTTP/1.1,200,549,-,Mozilla/5.0 (compatible; Yahoo! Slurp; http://help.yahoo.com/help/us/ysearch/slurp (Links to an external site.)), US”

 Using the full dataset to calculate the frequency, calculate this probability:

p(normal)=1- p(suspicious|user=u,IP=ip,country=c)    

Following this, use the general equation to describe conditional probability:

p(A│B,C)= ( p(A,B,C)+α )/(p(B,C)+ β) 

Considers: α=0.99850757 and β= 1.

**First from the results of the previous question we get those tagged as suspicious**

In [17]:
susDataset = concatDataset[concatDataset["tag"] == "sus"]
susDataset[0].sum()

934

**Now we get only the suspicious datetimes**

In [18]:
susDateTime = susDataset.index
susDateTime

DatetimeIndex(['2017-01-01 02:00:00', '2017-01-01 03:00:00',
               '2017-01-01 04:30:00', '2017-01-01 05:00:00',
               '2017-01-01 06:00:00', '2017-01-01 08:00:00',
               '2017-01-01 08:30:00', '2017-01-01 09:00:00',
               '2017-01-01 09:30:00', '2017-01-01 10:00:00',
               '2017-01-01 10:30:00', '2017-01-01 11:00:00',
               '2017-01-01 11:30:00', '2017-01-01 12:00:00',
               '2017-01-01 12:30:00', '2017-01-01 13:30:00',
               '2017-01-01 14:00:00', '2017-01-01 16:30:00',
               '2017-01-01 20:30:00', '2017-01-01 22:30:00',
               '2017-01-01 23:30:00', '2017-01-02 00:30:00',
               '2017-01-02 03:30:00', '2017-01-02 04:00:00',
               '2017-01-02 05:30:00', '2017-01-02 08:30:00',
               '2017-01-02 09:30:00', '2017-01-02 10:00:00',
               '2017-01-02 10:30:00', '2017-01-02 12:30:00',
               '2017-01-02 13:30:00', '2017-01-02 14:00:00',
               '2017-01-02 16:00:00', '2017-01-02 16:30:00',
               '2017-01-02 17:30:00', '2017-01-03 23:00:00'],
              dtype='datetime64[ns]', name='datetime', freq=None)

**In order to know which individual transactions are deemed as suspicious we have to transfer the tags to the complete dataset**

In [19]:
ds["tag"] = "normal"
for date in susDateTime:
    endTime = date + timedelta(minutes = 30)
    susData = (ds['datetime'] >= date) & (ds['datetime'] <= endTime)
    dt = ds.loc[susData, 'tag'] = 'sus'

In [20]:
ds.head(5)

,src_ip,userid,username,datetime,method,response_code,return_obj_size,dest_address,user_agent,country,tag
0,14.139.187.130,hahiss,hahiss@optonline.net,2017-01-01 02:16:51,GET / HTTP/1.1,200,10267,https://www.google.co.in/,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,FR,sus
1,14.139.187.130,ahuillet,ahuillet@comcast.net,2017-01-01 02:16:55,GET /GitHub-Mark.png HTTP/1.1,200,7428,http://www.secrepo.com/,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,FR,sus
2,14.139.187.130,gtaylor,gtaylor@gmail.com,2017-01-01 02:16:56,GET /twitter-icon.png HTTP/1.1,200,27788,http://www.secrepo.com/,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,BR,sus
3,68.180.228.229,terjesa,terjesa@sbcglobal.net,2017-01-01 02:17:59,GET /robots.txt HTTP/1.1,200,233,-,Mozilla/5.0 (compatible; Yahoo! Slurp; http://...,FR,sus
4,68.180.228.229,smallpaul,smallpaul@optonline.net,2017-01-01 02:17:59,GET /self.logs/access.log.2015-11-01.gz HTTP/1.1,200,6465,-,Mozilla/5.0 (compatible; Yahoo! Slurp; http://...,US,sus

In [21]:
listaIP = ds["src_ip"].unique()
listaIP

array(['14.139.187.130', '68.180.228.229', '207.46.13.146',
       '123.125.67.226', '85.115.32.180', '144.32.170.29',
       '195.154.191.64', '95.28.180.251', '166.88.123.66',
       '220.181.108.117', '202.188.40.138', '211.144.0.163',
       '101.226.33.200', '119.147.146.60', '82.81.92.138', '77.88.47.100',
       '103.21.125.80', '70.53.215.244', '207.46.13.95', '162.217.31.85',
       '94.252.88.177', '47.189.17.206', '71.10.36.99', '66.249.66.105',
       '172.56.42.13', '185.83.162.4', '123.125.71.95', '180.76.15.25',
       '180.76.15.12', '66.220.146.31', '220.181.108.182',
       '61.251.236.11', '98.220.75.1', '24.146.203.160', '113.108.192.2',
       '180.151.172.46', '95.27.26.171', '46.229.168.67', '157.55.39.75',
       '46.229.168.65', '46.229.168.68', '46.229.168.66', '46.229.168.71',
       '46.229.168.74', '46.229.168.72', '46.229.168.70', '46.229.168.69',
       '46.229.168.73', '81.163.131.56', '36.110.120.151',
       '123.125.67.224', '58.16.42.148', '66.249.93.95', '65.55.210.255',
       '69.30.210.242', '54.172.242.152', '221.4.169.197',
       '66.249.66.197', '66.249.66.103', '66.249.66.209', '66.102.6.129',
       '66.102.6.159', '104.131.86.190', '185.182.49.31',
       '70.106.209.116', '37.144.52.198', '66.249.66.101',
       '176.195.113.223', '66.249.83.84', '66.249.83.83', '157.55.39.100',
       '131.253.27.116', '207.46.13.157', '180.76.15.33',
       '104.162.192.217', '96.250.56.15', '24.142.90.210', '78.68.160.67',
       '157.55.39.232', '69.250.190.181', '180.76.15.148',
       '60.180.157.119', '123.57.239.25', '121.40.39.151',
       '173.82.77.179', '101.200.199.203', '101.200.204.113',
       '123.57.237.215', '101.200.205.6', '101.200.191.237',
       '182.92.7.12', '101.200.204.198', '178.252.127.220',
       '75.118.9.134', '66.249.83.82', '77.75.76.161', '88.198.16.153',
       '180.76.15.140', '88.185.102.251', '52.212.146.96',
       '123.125.71.85', '185.100.84.82', '31.185.104.21',
       '180.121.191.241', '68.54.170.68', '211.210.103.197',
       '103.21.125.85', '157.49.22.184', '211.42.54.241', '5.106.255.253',
       '42.236.10.100', '164.124.106.147', '199.16.157.181',
       '62.81.238.27', '54.234.67.133', '109.66.159.240', '118.33.113.8',
       '211.110.178.7', '211.244.83.219', '104.200.107.62',
       '121.52.146.107', '117.200.32.210', '111.91.137.215',
       '87.201.213.114', '27.5.119.139', '83.42.194.191', '109.86.71.185',
       '87.255.155.12', '109.64.164.19', '140.112.24.181',
       '140.112.24.217', '140.112.24.213', '140.112.24.247',
       '140.112.24.223', '188.25.158.195', '1.202.222.146',
       '103.195.73.100', '46.229.164.102', '211.249.40.21',
       '211.249.40.24', '94.139.69.2', '155.94.170.213', '211.249.40.11',
       '117.201.11.139', '223.102.16.121', '106.38.241.146',
       '31.220.43.197', '168.1.6.58', '105.98.169.145', '121.242.29.87',
       '156.207.137.173', '116.1.3.193', '80.182.130.118', '112.134.2.32',
       '116.228.88.252', '211.87.234.149', '79.22.5.187',
       '180.250.173.58', '87.147.159.12', '107.178.195.193',
       '188.143.122.133', '122.172.190.222', '125.118.227.239',
       '77.105.18.170', '103.205.135.114', '50.18.94.121',
       '157.50.208.163', '157.50.111.28', '114.231.10.128', '73.2.241.26',
       '76.100.110.129', '114.240.251.69', '179.183.140.147',
       '86.179.93.107', '82.48.18.101', '94.54.37.245', '139.5.48.41',
       '148.62.14.207', '187.188.41.207', '151.80.31.155',
       '163.172.66.61', '173.82.141.237', '103.79.169.143',
       '155.94.170.112', '62.200.229.136', '180.76.15.17', '202.4.167.27',
       '180.76.15.161', '212.131.148.177', '120.62.21.246',
       '66.249.82.102', '66.249.82.128', '66.249.82.159', '66.249.82.157',
       '80.181.98.152', '68.229.40.197', '163.172.65.248',
       '163.172.65.107', '163.172.66.15', '163.172.66.107',
       '66.102.9.157', '66.102.9.128', '163.172.66.149', '163.172.66.26',
       '178.135.82.177', '192.99.39.235', '116.75.2.69', '140.114.236.24',
       '184.151.231.37', '162.250.2.19', '183.87.254.60',
       '162.216.46.166', '91.148.43.120', '70.198.202.13',
       '66.220.146.28', '108.174.2.200', '108.174.5.115', '108.174.5.117',
       '136.62.13.9', '86.120.150.73', '5.54.106.144', '206.116.159.242',
       '80.214.72.122', '68.2.182.109', '138.210.213.23', '107.77.92.46',
       '84.250.45.137', '163.172.66.168', '46.229.164.98',
       '88.156.184.203', '78.35.166.168', '134.3.254.80', '2.184.142.219',
       '27.147.203.28', '69.255.228.30', '92.24.232.24', '71.178.250.82',
       '128.177.12.30', '163.172.65.207', '176.186.8.155',
       '82.39.108.140', '188.174.154.95', '109.149.172.213',
       '99.254.69.224', '166.62.174.8', '109.155.182.74', '66.189.45.61',
       '80.12.33.73', '73.231.57.225', '221.219.157.231', '172.56.29.3',
       '67.195.51.152', '67.195.51.155', '197.228.161.149',
       '98.195.78.185', '163.172.65.44', '1.225.65.15', '71.225.63.168',
       '184.209.86.95', '151.227.206.206', '94.112.96.14',
       '172.110.63.200', '107.197.26.135', '79.117.240.183',
       '85.255.235.79', '68.40.114.203', '66.249.65.126', '66.249.65.123',
       '202.83.106.187', '47.8.157.212', '62.121.80.6', '163.172.65.20',
       '52.119.113.253', '207.87.116.50', '52.90.33.223', '52.91.184.228',
       '54.174.114.150', '203.133.170.39', '198.56.57.48',
       '88.224.38.237', '66.102.6.158', '103.255.4.22', '105.184.10.178',
       '79.194.253.244', '82.46.84.120', '183.82.105.120',
       '217.42.28.106', '151.250.142.172', '176.31.105.35',
       '177.54.218.140', '82.132.214.64', '87.214.51.124',
       '101.186.37.229', '5.74.115.249', '24.15.16.247', '112.134.44.142',
       '83.233.213.199', '122.177.15.26', '68.40.191.111',
       '213.205.198.149', '163.172.65.119', '163.172.66.180',
       '75.102.225.200', '149.169.125.83', '84.249.110.35',
       '107.167.108.63', '124.123.65.103', '163.172.65.199',
       '94.191.187.114', '76.16.206.27', '41.103.1.47', '24.133.43.183',
       '166.182.3.28', '166.182.3.245', '163.172.66.132',
       '186.109.130.83', '77.120.134.64', '50.245.151.27',
       '84.245.33.113', '75.112.92.167', '84.1.12.82', '163.172.66.108',
       '2.230.54.124', '162.221.202.138', '2.0.9.182', '89.238.166.156',
       '2.120.190.147', '158.222.140.106', '35.163.147.85',
       '54.81.174.144', '54.166.162.1', '163.172.66.77', '88.100.35.55',
       '107.197.81.228', '50.251.160.137', '128.12.154.148',
       '36.82.27.193', '123.125.71.17', '163.172.66.11',
       '220.181.108.179', '223.71.148.202', '24.5.13.247',
       '76.116.130.166', '46.139.117.117', '163.172.66.93',
       '163.172.65.54', '109.92.141.142', '180.76.15.147',
       '94.189.169.19', '54.152.67.100', '163.172.66.5', '163.172.64.235',
       '181.90.104.236', '163.172.64.177', '115.164.80.120',
       '172.58.35.157', '212.77.220.109', '92.244.27.135',
       '209.197.138.141', '94.145.58.131', '82.103.138.89',
       '163.172.66.66', '87.188.97.251', '116.86.124.13',
       '203.206.247.70', '128.140.225.178', '124.88.67.32',
       '73.202.54.60', '188.4.185.217', '163.172.66.119',
       '189.145.141.62', '216.80.123.221', '66.102.7.189', '66.102.7.191',
       '123.125.71.58', '163.172.65.55', '171.249.70.125',
       '137.219.126.200', '209.73.183.17', '42.120.74.103',
       '78.171.232.232', '172.56.37.205', '62.210.81.152',
       '192.77.237.206', '106.10.199.92', '100.12.108.155',
       '124.128.77.130', '67.188.77.148', '46.59.162.165',
       '52.91.102.153', '177.3.149.81', '172.8.234.244', '159.226.95.68',
       '179.18.49.206', '79.171.53.91', '163.172.66.92', '24.168.41.73',
       '213.57.234.200', '163.172.65.118', '163.172.65.192',
       '73.137.61.5', '163.172.64.187', '17.142.159.143', '54.151.42.39',
       '198.27.82.109', '52.21.137.163', '144.76.23.70', '37.187.162.192',
       '103.17.132.67', '72.30.14.92', '54.176.128.153', '23.96.208.137',
       '68.102.26.62', '218.17.157.227', '103.67.179.142', '69.34.176.14',
       '117.245.20.52', '163.172.65.19', '163.172.65.187',
       '50.128.184.57', '50.116.49.209', '163.172.64.220', '54.160.127.9',
       '106.10.199.94', '222.178.92.50', '66.249.93.64', '184.73.4.236',
       '211.28.45.54', '163.172.66.117', '195.154.199.101',
       '38.111.147.86', '112.134.45.194', '213.149.146.131',
       '177.77.1.167', '54.160.109.218', '46.49.60.51', '195.154.217.154',
       '54.159.214.212', '76.21.251.165', '85.245.40.227',
       '163.172.65.217', '70.198.34.9', '54.157.129.166', '70.199.155.3',
       '31.57.97.148', '54.160.67.5', '96.244.204.158', '203.193.132.58',
       '163.172.65.221', '163.172.65.6', '98.165.7.103', '163.172.66.162',
       '50.17.45.248', '73.114.33.236', '163.172.66.45', '54.237.69.221',
       '66.249.90.127', '50.132.0.122', '113.55.68.237', '163.172.66.151',
       '163.172.65.69', '176.111.116.185', '175.113.82.79',
       '54.157.252.249', '70.211.18.138', '64.91.53.134',
       '54.157.133.167', '101.226.61.142', '61.183.112.245',
       '54.226.55.104', '176.69.76.98', '163.172.65.205', '85.19.223.65',
       '163.172.64.245', '72.239.33.123', '182.138.175.200',
       '172.91.184.221', '66.249.84.29', '66.249.84.1', '66.249.84.31',
       '73.241.111.130', '112.199.67.226', '162.17.174.174',
       '117.211.106.167', '54.237.78.74', '89.200.46.191',
       '115.236.70.162', '213.74.197.210', '54.227.95.65',
       '125.22.63.100', '146.64.81.115', '59.163.27.12', '163.172.66.118',
       '164.125.63.153', '66.249.93.93', '27.72.0.46', '54.166.81.34',
       '163.172.66.110', '120.28.47.178', '85.76.82.206', '84.241.26.73',
       '89.165.11.37', '163.172.65.11', '124.238.201.44', '58.1.197.26',
       '91.63.242.127', '180.151.199.86', '107.20.131.77',
       '220.181.108.123', '212.252.63.109', '54.242.227.254',
       '163.172.66.122', '180.168.253.65', '123.125.71.52',
       '43.230.180.5', '66.102.9.159', '122.166.206.2', '149.18.166.179',
       '80.255.245.230', '163.172.66.60', '174.129.122.154',
       '95.185.131.49', '67.195.51.153', '58.161.11.232',
       '176.33.151.111', '163.172.66.49', '81.36.97.18', '92.230.76.193',
       '113.160.155.133', '151.13.13.74', '101.226.51.228',
       '194.61.92.11', '106.10.199.93', '134.58.253.57', '61.202.247.129',
       '156.203.238.242', '79.158.219.18', '173.38.209.12', '14.0.154.9',
       '163.172.66.24', '125.16.224.135', '163.172.66.143',
       '213.61.59.250', '163.172.66.82', '163.172.66.19', '117.252.4.106',
       '54.160.78.142', '50.168.127.120', '80.78.5.104', '109.173.173.35',
       '54.90.175.126', '163.172.64.224', '163.172.66.68', '84.111.80.25',
       '121.244.131.233', '163.172.64.184', '185.34.140.5',
       '151.80.31.100', '163.172.65.49', '94.67.40.31', '145.91.223.50',
       '205.237.163.193', '125.16.17.150', '41.136.222.213',
       '61.247.224.117', '88.212.40.247', '54.196.198.104',
       '36.5.162.108', '78.148.114.198', '62.24.181.135', '163.172.66.37',
       '47.30.181.252', '54.160.66.181', '195.136.20.133',
       '106.38.241.109', '106.38.241.108', '163.172.64.186',
       '176.37.186.80', '5.158.27.172', '115.28.66.38', '163.172.65.182',
       '43.242.244.75', '54.211.102.81', '2.155.133.128', '173.8.8.251',
       '24.172.204.12', '62.28.250.194', '195.238.25.37',
       '163.172.65.216', '85.203.19.224', '213.8.26.249', '116.25.97.146',
       '68.46.57.27', '123.139.16.7', '69.47.74.67', '54.144.115.174',
       '140.120.13.105', '163.172.66.156', '49.77.134.242',
       '106.120.161.66', '182.118.20.157', '220.181.132.197',
       '171.13.14.147', '171.8.167.64', '182.118.20.145',
       '219.221.197.84', '163.172.64.183', '81.246.96.154',
       '186.121.249.52', '123.125.71.44', '123.125.71.45',
       '193.221.117.8', '163.172.65.190', '177.84.208.221',
       '173.172.128.82', '123.130.9.140', '112.10.109.80',
       '43.249.37.161', '120.236.20.2', '59.61.99.87', '163.172.66.166',
       '92.232.187.78', '212.227.100.244', '54.165.241.61',
       '93.180.173.75', '178.145.113.76', '62.138.220.46',
       '76.176.211.151', '111.206.36.6', '111.206.36.139',
       '132.246.238.254', '83.131.178.15', '148.62.14.178', '107.21.1.8',
       '58.65.179.176', '163.172.66.178', '66.220.156.102',
       '173.252.124.226', '66.220.156.96', '69.171.230.114',
       '66.220.158.100', '173.252.90.106', '66.220.145.244',
       '163.172.64.253', '163.172.66.88', '69.63.188.196',
       '66.220.146.26', '183.5.191.238', '82.81.100.77', '80.179.69.252',
       '200.68.83.124', '195.251.117.117', '92.65.129.42',
       '220.113.165.5', '173.252.120.106', '66.220.158.114',
       '74.108.222.249', '209.99.51.178', '70.121.90.255',
       '103.214.190.113', '54.204.179.21', '163.172.66.87', '152.7.224.2',
       '123.125.71.56', '49.190.33.250', '163.172.65.145', '14.17.44.215',
       '117.185.27.115', '123.150.182.1', '119.147.146.73',
       '62.173.145.45', '54.147.178.146', '71.202.148.29',
       '221.232.135.51', '1.180.212.144', '38.140.156.242',
       '66.249.88.60', '66.249.88.61', '66.249.88.62', '61.148.244.185',
       '176.15.206.202', '216.163.246.1', '124.40.246.234',
       '180.76.15.13', '183.82.158.59', '192.243.112.100',
       '163.172.66.13', '174.56.58.73', '173.64.98.44', '83.171.9.18',
       '163.172.65.114', '205.194.127.36', '103.215.224.238',
       '66.102.8.128', '163.172.65.213', '82.47.12.88', '163.172.65.232',
       '163.172.65.39', '66.162.212.19', '66.220.152.185',
       '113.59.201.159', '51.36.201.178', '114.242.47.216',
       '220.173.18.102', '163.172.66.33', '14.169.84.211',
       '173.252.90.243', '77.75.76.165', '216.83.16.58', '1.202.120.20',
       '163.172.66.54', '108.170.3.154', '77.134.73.217', '73.92.231.30',
       '93.56.164.18', '89.2.129.157', '163.172.65.58', '163.172.66.70',
       '84.110.232.156', '70.211.130.248', '54.174.33.17', '52.90.146.42',
       '12.29.13.250', '68.4.174.144', '70.15.70.22', '178.255.215.78',
       '199.167.55.50', '166.137.143.125', '211.31.163.203',
       '163.172.66.25', '77.75.78.165', '173.252.124.229',
       '69.63.188.211', '191.223.95.11', '88.212.53.83', '54.90.12.251',
       '131.108.185.28', '47.32.115.6', '207.244.75.39', '163.172.66.20',
       '195.154.194.179', '37.57.218.250', '163.172.64.223',
       '198.211.223.124', '209.131.62.126', '98.139.14.250',
       '72.30.14.105', '72.30.14.75', '54.161.63.231', '202.163.79.192',
       '83.142.125.178', '64.47.96.210', '46.22.214.35', '86.127.95.57',
       '163.172.66.123', '130.19.32.226', '45.32.131.61', '90.209.102.99',
       '163.172.66.134', '82.31.90.100', '163.172.66.57',
       '184.182.182.245', '163.172.65.197', '163.172.64.243',
       '163.172.65.10', '163.172.66.155', '163.172.66.38', '95.103.32.1',
       '163.172.65.113', '80.99.63.155', '73.93.110.28', '59.189.189.90',
       '163.172.64.185', '166.216.165.56', '187.190.22.174',
       '66.228.162.56', '123.112.108.98', '54.197.98.7',
       '138.207.199.111', '101.199.108.57', '40.78.146.128',
       '209.234.219.158', '178.174.168.158', '50.255.33.33',
       '177.104.240.10', '188.102.109.64', '5.45.62.164',
       '42.156.251.196', '163.172.65.21', '54.160.87.40', '98.137.84.195',
       '186.60.17.139', '172.56.34.156', '131.253.27.142',
       '82.41.102.223', '163.172.65.184', '95.84.129.30',
       '158.106.209.238', '163.172.66.21', '180.19.75.62',
       '68.225.24.130', '163.172.65.185', '178.117.93.119', '24.7.7.50',
       '120.197.196.59', '120.197.196.39', '110.249.151.194',
       '124.129.58.139', '85.65.39.23', '122.96.140.226',
       '61.136.151.253', '106.120.161.68', '101.199.108.50',
       '140.206.255.12', '171.13.14.152', '202.104.160.214',
       '171.8.167.68', '220.181.132.199', '119.188.70.33', '171.8.167.70',
       '171.13.14.145', '61.167.49.40', '122.224.250.234',
       '120.199.60.235', '163.172.66.141', '163.172.65.23',
       '183.39.157.76', '211.144.222.101', '163.172.64.182',
       '121.32.247.99', '159.203.137.129', '183.39.159.154',
       '113.87.161.169', '54.144.136.135', '163.172.66.34',
       '122.234.71.229', '66.249.65.120', '101.81.243.34',
       '92.247.181.36', '116.27.178.40', '221.223.241.230',
       '140.109.6.250', '221.246.62.10', '64.144.147.162',
       '14.139.242.195', '173.252.221.38', '180.153.236.165',
       '61.125.198.185', '218.104.228.102', '61.222.160.128',
       '14.153.239.171', '112.65.193.14', '180.153.214.178',
       '101.165.147.71', '220.160.150.202', '111.196.169.146',
       '69.63.188.202', '163.172.65.247', '103.7.29.8', '221.238.123.178',
       '59.174.65.36', '72.192.111.254', '124.65.231.114',
       '222.91.125.82', '223.25.50.81', '183.14.132.117', '67.68.80.213',
       '163.172.66.35', '183.16.194.43', '124.127.101.194',
       '115.238.42.226', '163.172.64.241', '107.181.87.2',
       '119.156.111.160', '163.172.65.115', '71.63.241.73',
       '1.180.212.159', '163.172.65.249', '175.167.146.5',
       '195.154.240.10', '47.198.84.132', '189.160.101.36',
       '197.231.220.180', '218.56.40.180', '113.240.234.246',
       '101.199.108.58', '54.147.44.225', '163.172.66.96', '73.93.89.238',
       '66.249.65.210', '163.172.65.122', '117.169.6.165',
       '117.169.6.177', '117.169.6.178', '117.169.6.155',
       '118.163.170.73', '43.245.85.24', '163.172.66.48',
       '163.172.65.206', '45.32.39.181', '54.234.104.161',
       '110.174.108.50', '123.116.248.223', '60.190.68.244',
       '163.172.65.109', '36.5.154.144', '38.94.177.124', '163.172.66.28',
       '123.122.147.64', '163.172.66.14', '223.73.231.139',
       '190.107.226.245', '123.125.67.163', '220.181.108.97',
       '87.112.200.65', '218.17.107.250', '71.231.255.120',
       '183.60.52.64', '190.211.234.162', '163.172.65.64',
       '163.172.66.158', '101.36.73.153', '163.172.65.230',
       '163.172.65.47', '211.103.218.84', '107.21.55.245', '52.91.217.4',
       '147.210.204.184', '163.172.64.246', '163.172.64.199',
       '163.172.66.137', '147.251.43.64', '89.133.95.163',
       '163.172.65.123', '163.172.66.152', '58.251.156.119',
       '45.244.140.73', '193.206.102.233', '209.177.85.48',
       '218.93.12.134', '61.135.221.56', '85.159.196.242',
       '163.172.65.131'], dtype=object)

In [22]:
listaUsr = ds["userid"].unique()
listaUsr

array(['hahiss', 'ahuillet', 'gtaylor', 'terjesa', 'smallpaul', 'noahb',
       'ijackson', 'mgreen', 'ghaviv', 'ehood', 'yumpy', 'gerlo',
       'blixem', 'starstuff', 'shawnce', 'pontipak', 'pereinar', 'heine',
       'crypt', 'sokol', 'mpiotr', 'munjal', 'zeitlin', 'evilopie',
       'skippy', 'peterhoeg', 'ninenine', 'iamcal', 'daveewart', 'jguyer',
       'sbmrjbr', 'luvirini', 'maikelnai', 'sblack', 'wikinerd', 'houle',
       'cderoove', 'eurohack', 'cumarana', 'keijser', 'tjensen', 'yxing',
       'jfmulder', 'cgreuter', 'sagal', 'mallanmba', 'stefano',
       'wonderkid', 'crusader', 'elflord', 'murdocj', 'jigsaw', 'curly',
       'enintend', 'lipeng', 'jemarch', 'eegsa'], dtype=object)

In [23]:
listaCountry = ds["country"].unique()
listaCountry

array(['FR', 'BR', 'US', 'MX'], dtype=object)

**Then we create two functions one that calculates the P normal of a row and another on to calculate the conditional probability with the alfa and beta given to us**

In [24]:
def generalP(i):
    totalSize = ds.shape[0]
    
    leo = (ds["tag"] == i["tag"]) & (ds["src_ip"] == i["src_ip"]) & (ds['userid'] == i['userid']) & (ds["country"]==i["country"])
    intersection = ds.loc[leo].shape[0] / totalSize 
    fer = (ds["src_ip"] == i["src_ip"]) & (ds['userid'] == i['userid']) & (ds["country"]==i["country"])
    interseccion2 = ds.loc[fer].shape[0] / totalSize

    return (1 - (intersection) / (interseccion2))
    
        
def generalP2(i):
    totalSize = ds.shape[0]
    leo = (ds["tag"] == i["tag"]) & (ds["src_ip"] == i["src_ip"]) & (ds["userid"] == i["userid"]) & (ds["country"]==i["country"])
    intersection = ds.loc[leo].shape[0] / totalSize 
    fer = (ds["src_ip"] == i["src_ip"]) & (ds["userid"] == i["userid"]) & (ds["country"]==i["country"])
    interseccion2 = ds.loc[fer].shape[0] / totalSize
    
    return ((intersection + 0.99850757) / (interseccion2 + 1) )

**Finally we apply the two functions to each row and save the result in the "normal" and the "conditional" column of each row**

In [25]:
ds["normal"] = ds.apply(generalP, axis = 1)

In [26]:
ds["conditional"] = ds.apply(generalP2, axis = 1)

In [27]:
ds["normal"].max()

0.5

In [28]:
ds

,src_ip,userid,username,datetime,method,response_code,return_obj_size,dest_address,user_agent,country,tag,normal,conditional
0,14.139.187.130,hahiss,hahiss@optonline.net,2017-01-01 02:16:51,GET / HTTP/1.1,200,10267,https://www.google.co.in/,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,FR,sus,0.0,0.998508
1,14.139.187.130,ahuillet,ahuillet@comcast.net,2017-01-01 02:16:55,GET /GitHub-Mark.png HTTP/1.1,200,7428,http://www.secrepo.com/,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,FR,sus,0.0,0.998508
2,14.139.187.130,gtaylor,gtaylor@gmail.com,2017-01-01 02:16:56,GET /twitter-icon.png HTTP/1.1,200,27788,http://www.secrepo.com/,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,BR,sus,0.0,0.998508
3,68.180.228.229,terjesa,terjesa@sbcglobal.net,2017-01-01 02:17:59,GET /robots.txt HTTP/1.1,200,233,-,Mozilla/5.0 (compatible; Yahoo! Slurp; http://...,FR,sus,0.0,0.998508
4,68.180.228.229,smallpaul,smallpaul@optonline.net,2017-01-01 02:17:59,GET /self.logs/access.log.2015-11-01.gz HTTP/1.1,200,6465,-,Mozilla/5.0 (compatible; Yahoo! Slurp; http://...,US,sus,0.0,0.998508
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7224,85.159.196.242,lipeng,lipeng@att.net,2017-01-04 02:54:55,GET /honeypot/Honeypot%20-%20Howto.pdf HTTP/1.1,206,65874,http://www.secrepo.com/,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50....,BR,normal,0.0,0.998508
7225,85.159.196.242,peterhoeg,peterhoeg@hotmail.com,2017-01-04 02:54:53,GET /honeypot/Honeypot%20-%20Howto.pdf HTTP/1.1,200,1279418,http://www.secrepo.com/,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50....,US,normal,0.0,0.998508
7226,85.159.196.242,wikinerd,wikinerd@live.com,2017-01-04 02:54:56,GET /favicon.ico HTTP/1.1,200,267,-,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50....,BR,normal,0.0,0.998508
7227,85.159.196.242,sblack,sblack@yahoo.ca,2017-01-04 02:54:54,GET /honeypot/Honeypot%20-%20Howto.pdf HTTP/1.1,206,65867,http://www.secrepo.com/,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50....,MX,normal,0.0,0.998508
7228,163.172.65.131,munjal,munjal@aol.com,2017-01-04 02:59:20,GET /self.logs/error.log.2016-05-03.gz HTTP/1.1,200,782,-,Mozilla/5.0 (compatible; AhrefsBot/5.2; +http:...,MX,normal,0.0,0.998508

**Finally here is the table with the the columns normal and conditional, in most several cases normal is really small so it shows as 0**